{% extends "base.html"%}
{% load static %}
{% block content %}

      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
<!--         <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div> -->
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Sales Cards  -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/home/"
                  aria-expanded="false">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-view-dashboard"></i>
                  </h1>
                  <h6 class="text-white">Dashboard</h6>
                </a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/datawarga/"
                  aria-expanded="false">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-receipt"></i>
                  </h1>
                  <h6 class="text-white">Data Warga Lansia</h6>
                </a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/datakriteria/"
                  aria-expanded="false">
                <div class="box bg-warning text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-border-outside"></i>
                  </h1>
                  <h6 class="text-white">Data Kriteria</h6>
                  </a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/datasubkriteria/"
                  aria-expanded="false">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-border-outside"></i>
                  </h1>
                  <h6 class="text-white">Data Sub Kriteria</h6>
                </a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/datapenilaian/"
                  aria-expanded="false">
                <div class="box bg-info text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-pencil"></i>
                  </h1>
                  <h6 class="text-white">Data Penilaian</h6>
                </a>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-receipt"></i>
                  </h1>
                  <h6 class="text-white">Data Perhitungan</h6>
                </div>
              </div>
            </div> -->
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/datahasil/"
                  aria-expanded="false">
                <div class="box bg-info text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-chart-areaspline"></i>
                  </h1>
                  <h6 class="text-white">Data Hasil Akhir</h6>
                </a>
                </div>
              </div>
            </div>
<!--         <img src="/static/assets/images/background/img5.png" height="700px" width="200px;"> -->
        <div class="container-fluid">
        <br>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Sistem Pendukung Keputusan</h3>
                  <h5>
                    Sistem Pendukung Keputusan (SPK) atau Decision Support System
                    (DSS) adalah sebuah sistem yang mampu memberikan kemampuan pemecahan
                    masalah maupun kemampuan pengkomunikasian untuk masalah dengan
                    kondisi semi terstruktur dan tak terstruktur.
                    <br>
                    Sistem ini digunakan untuk membantu pengambilan keputusan dalam situasi 
                    semi terstruktur dan situasi yang tidak terstruktur, 
                    dimana tak seorangpun tahu secara pasti bagaimana
                    keputusan seharusnya dibuat.
                    <br>
                    SPK bertujuan untuk menyediakan informasi, membimbing,
                    memberikan prediksi serta mengarahkan kepada pengguna informasi agar
                    dapat melakukan pengambilan keputusan dengan lebih baik.
                  </h5>
                </div>
              </div>
            </div>
            <img src="/static/assets/images/background/img5.png" height="700px" width="200px;">
          </div>
          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->

          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->

          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
         Sistem Pendukung Keputusan Penerima Bantuan Lansia
<!--           <a href="https://www.wrappixel.com">WrapPixel</a>. -->
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>

{% endblock content %}